@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

.active{
  background-color: #ffebf5;
  border-color: #C586A5;
}


